<aside class="supporter">
	<div class="supporter-image">
		<a href="{{ image_link }}" target="_blank"><img src="{{ image.src }}" alt="{{ image.alt }}" width="300" height="150"></a>
	</div>
	<div class="supporter-text">
		<p>{{ content }}</p>
	</div>
</aside>