<aside class="supporter">
	
	<div class="supporter-image">
		<a href="https://www.goodventures.org/our-portfolio/grantmaking-approach" target="_blank"><img src="https://archive.goodventures.org/uploads/documents/OP_FullColor_(4).png" alt="Open Philanthropy Project" width="300" height="150"></a>
	</div>
	
	
	<div class="supporter-text">
		<p>Learn about our partnership with Open Philanthropy to find outstanding giving opportunities and maximize our impact&nbsp;<a href="https://www.goodventures.org/our-portfolio/grantmaking-approach">here</a>.</p>
	</div>
	
</aside>
<footer id="footer">
	<nav>
		<ul>
			<li class="nav-home">
				<a href="https://www.goodventures.org/">Home
				</a>
			</li>
			<li class="nav-portfolio">
				<a href="/our-portfolio">Our Portfolio</a>
				<ul>
					<li><a href="/our-portfolio/grants-database">Grants Database</a></li>
					<li><a href="/our-portfolio/other-investments">Other Investments</a></li>
					<li><a href="/our-portfolio/grantmaking-approach">Grantmaking Approach</a></li>
				</ul>
			</li>
			<li class="nav-about">
				<a href="/about-us">About Us</a>
				<ul>
					<li><a href="/about-us/vision-and-values">Vision & Values</a></li>
					<li><a href="/about-us/press">Press</a></li>
					<li><a href="/about-us/governance">Governance</a></li>
				</ul>
			</li>
			<li class="nav-research">
				<a href="/blog">Blog: Give & Learn</a>
			</li>
		</ul>
		<div>
			<span>&copy; {{ "now"|date("Y") }} Good Ventures</span>
			<a href="/privacy-policy">Privacy Policy</a>
			<a href="/contact">Contact</a>
			<a href="/about-us/jobs">Jobs</a>
		</div>
	</nav>
	<div id="connect">
		<a href="https://www.facebook.com/goodventures" class="facebook" target="_blank">Find us on Facebook</a>
		<a href="https://twitter.com/GoodVentures" class="twitter" target="_blank">Follow us on Twitter</a>
	</div>
</footer>
